.index-feature {
    padding-top: 140px;
    padding-bottom: 50px;
}

.systems-feature {
    padding-top: 40px;
    padding-bottom: 50px;
}

@media (max-width: 760px) {
    .index-feature {
        padding-bottom: 0;
        padding-top: 50px;
    }

    .systems-feature {
        padding-bottom: 0;
        padding-top: 50px;
    }
}

body {
    background-color: #ff71c1;
}

.index-feature .system {
    border-radius: 4px;
    background-color: #fff;
    padding: 1px 1px 5px 10px;
    margin-top: 10px;
}

.execute {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid;
    border-radius: 5px;
    color: #ba2f7d;
    display: inline-block;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 29px;
    text-transform: uppercase;
}

.execute:hover {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid;
    border-radius: 5px;
    color: #ba2f7d;
    display: inline-block;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 29px;
    text-transform: uppercase;
}